<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page...,</h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolor officia, sed quia, dignissimos alias unde praesentium vero molestiae impedit, atque consectetur possimus hic. Porro modi cum animi odit minus.
    </p>
    <button>click me!</button>
</body>
</html>